@model IEnumerable<GreenElectric.EE.Servicios.Bitacora.EventoBitacora>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/modern-business.css" rel="stylesheet" />

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr style="background-color:powderblue">
            <th >
                <h5>   @Html.DisplayNameFor(model => model.eventoBitacora)</h5>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.eventoBitacora)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <div>
        <p>
            <input type="button" class="BotonAzul " style="float:left" value="Crear" onclick="location.href='@Url.Action("Create", "EventoBitacora")'" />
        </p>
    </div>
</div>